doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Reed
body
  .navbar.navbar-light.bg-light
    .navbar-brand N3349 Ёлкин
    a.navbar-link(href="./index.html") Также попробуйте Витерби!
  .alertplace
  .container
    .row.flex-xl-nowrap
      main.col-12.bd-content
        h1.bd-title Несистематический кодер/декодер кодов Рида-Соломона